*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
.nav {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  border: none;
  width: 100vw;
  height: 60px;
  align-items: center;
  padding: 0px 15px 0px 40px;
  font-style: bold;
  margin: 10px 0px 0px 25px;
}
.btn .active {
  background-color: blue;
  color: white;
  height: 35px;
  width: 100px;
  border-radius: 8px;
  font-size: 18px;
  font-style: bold;
  margin: 0px 15px 0px 0px;
  border: 2px solid blue;
  text-decoration: none;
}
.btn .active a {
  text-decoration: none;
  color: white;
}
.btn .inactive a {
  text-decoration: none;
  color: black;
}
.btn .inactive {
  background-color: rgb(216, 204, 204);
  color: rgb(252, 243, 243);
  color: black;
  height: 35px;
  width: 110px;
  border-radius: 8px;
  font-size: 18px;
  font-style: bold;
  margin: 0px 15px 0px 0px;
  border: none;
  font-style: bold;
}
.dash{
  margin-top: 35px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  /* position: relative; */
  /* position: absolute; */
  top: 80px;
  left: 45px;
  gap: 10px;
}

.cards{
  display: flex;
  flex-direction: row;
  gap: 60px;
  margin-top: -10px;
}

.card{
  height: 110px;
  width: 350px;
  
  margin-top: 30px;
  padding-left: 30px;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 200;
  color: rgb(134, 133, 133);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15)
}

#card1{
  border-left: 6px solid rgb(8, 102, 139);
}
#card2{
  border-left: 6px solid orange;
}
#card3{
  border-left: 6px solid green;
}
#card4{
  border-left: 6px solid red;
}

.search{
    margin-top: 30px;
    width: 93vw;
    height: 10vh;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content:space-between;    
    align-items: center;
    
}
.search input{
    width: 63vw;
    height: 6vh;
    margin-left: 15px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
}
.btns{
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-right: 15px;
}
.active{
    height: 50px;
    width: 55px;
    border: none;
    border-radius: 10px;
    color: black;
    background-color: rgb(216, 204, 204);
    font-weight: bold;
    font-size: 18px;
}
.filter-btn{
    height: 50px;
    width: 110px;
    border: none;
    border-radius: 10px;
    color: black;
    background-color: rgb(216, 204, 204);
    font-size: 18px;
}