*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    
}
.container{
    width: 300px;
    margin: 100px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
input{
    width: 70%;
    padding: 6px;
}
button{
    padding: 6px 10px;
    cursor: pointer;
}
li{
    list-style: none;
    margin-top: 8px;
    padding: 6px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
}
ul{
    padding-left: 0px;
}